# Video folderi
Računarske mreže/Lab/Video/
Internet tehnologije/Lab/Video/
Inžinjering softverskih zahtijeva/SRS/
Inžinjering softverskih zahtijeva/Zadaća - 1/
Odabrana poglavlja iz operativnih sistema/Projektni zadatak/
Baze podataka/Projekat/
Engleski jezik 1/Types of kernels in operating systems - Jelena Matijaš 1102-23.pptx
Engleski jezik 2/RAID_Presentation.pptx
Kriptografija i računarska zaštita/evoting/
ArhitekturaRacunara/Projekti/